<!-- INÍCIO DO CONTEÚDO -->
<div class="row">
<section class="content-header">
    <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
        Daycare | Projeto Acadêmico CEUB
    </p>
    <p class="lead">Copyright 2018 EquipeDaycare (<a href="http://www.equipedaycare.com.br">http://www.equipedaycare.com.br</a>)</p>
    <p class="lead">O aviso de copyright acima e este aviso de permissão devem ser incluídos em todas as cópias ou partes substanciais do Software.
    </p>
</section>
</div>
<!-- FIM DO CONTEÚDO -->