<section class="content-header">
    <h1></h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-institution"></i>
                    <h3 class="box-title">{{creche?.nome}}</h3>
                    <span class="pull-right">
                        <i class="fa fa-star"></i>
                        <b>{{creche?.avaliacao}}</b>
                    </span>
                </div>
                <div class="box-body">
                    <div class="col-md-3" *ngIf="creche">
                        <img class="box-img-detail" [src]="creche?.dirImagem" />

                        <div>
                            <br>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
                                <strong>Visualizar Fotos</strong>
                            </button>
                        </div>

                    </div>
                    <br>
                    <dl class="col-md-9">
                        <div class="col-md-4">
                            <dt class="">
                                <i class="fa fa-child"></i> Faixa Etária</dt>
                            <dd>{{creche?.faixaEtaria}}</dd>
                            <br>
                            <dt>
                                <i class="fa fa-calendar"></i> Horários</dt>
                            <dd>{{creche?.horario}}</dd>
                            <br>
                        </div>
                        <div class="col-md-5">
                            <dt>
                                <i class="fa fa-phone"></i> Contato</dt>
                            <dd>{{creche?.telefone}}</dd>
                            <br>
                            <dt>
                                <i class="fa fa-map-pin"></i> Endereço</dt>
                            <dd>{{creche?.local.endereco}}</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">Sobre o espaço</h2>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <p align="justify" style="font-size: 16px">
                        {{creche?.sobre}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">O que está incluso?</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="col-md-6" *ngFor="let serv of this.creche.servicos">
                            <img [src]="serv.icone"> {{serv.descricao}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header">
                    <span class="fa fa-location-arrow"></span> Ver Localização
                </div>
                <div class="box-body">
                    <daycare-mapa [crecheLocal]="this.creche.local"></daycare-mapa>
                </div>
            </div>
            <div align="right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contato">
                    <strong>Fale Conosco</strong>
                </button>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade in" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <carousel>
                <slide *ngFor="let slide of slides">
                    <img [src]="slide.image" class="img-main-carousel" style="display: block; width: 100%;">
                </slide>
            </carousel>
        </div>
    </div>
</div>

<!-- Contato -->
<div class="modal fade in" id="contato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <mt-contato-creche></mt-contato-creche>
</div>