<div class="wrapper">


    <header class="main-header">
        <daycare-navbar></daycare-navbar>
    </header>

    <div class="content-wrapper">
        <div class="container">
            <!-- Troca o componente que está em determinada região para outro componente -->
            <router-outlet></router-outlet>
            <div  class="chatform" style="width: 900px; height: 300px; background-color: brown">
                <message-list [messages]="messages"></message-list>
                <message-form [message]="message" [messages]="messages"></message-form>
              </div>
        </div>
        

    </div>
    

    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 0.0.1
            </div>
            <!--The content below is only a placeholder and can be replaced.-->



            <strong>Copyright &copy; 2018
                <a href="http://www.equipedaycare.com">Equipe Daycare</a>.</strong> Todos os direitos reservados.
        </div>

    </footer>
</div>
