<div class="wrapper">

    <header-daycare></header-daycare>

  <div class="content-wrapper">
    <div class="container">

    <!-- rota para transiçoes das páginas -->
     <router-outlet></router-outlet>

    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Versão</b> 0.0.1
        </div>
        <strong>Copyright &copy; 2018 <a href="http://www.equipedaycare.com">Equipe Daycare</a>.</strong> Todos os direitos reservados.
    </div>
</footer>
</div>
