<div class="wrapper">

    <header class="main-header">
        <daycare-navbar></daycare-navbar>
    </header>

    <div class="content-wrapper">
        <div class="container">
            <!-- Troca o componente que está em determinada região para outro componente -->
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 0.0.1
            </div>
            <strong>Copyright &copy; 2018
                <a href="http://www.equipedaycare.com">Equipe Daycare</a>.</strong> Todos os direitos reservados.
        </div>
    </footer>
</div>