<div class="col-xs-12 col-sm-6" *ngFor="let avaliacao of avaliacoes | async">

    <div class="box box-solid">
        <div class="box-header with-border">
            <span class="review-score pull-right"><i class="fa fa-star"></i> {{avaliacao.review}}</span>
            <div class="user-block">
                <img *ngIf="avaliacao.review < 3" alt="User Image" class="img-circle" src="assets/img/reactions/pissed.png">
                <img *ngIf="avaliacao.review >= 3 && avaliacao.review < 4 " alt="User Image" class="img-circle" src="assets/img/reactions/soso.png">
                <img *ngIf="avaliacao.review >= 4" alt="User Image" class="img-circle" src="assets/img/reactions/loved.png">
                <span class="username">{{avaliacao.nome}}</span>
                <span class="description">{{avaliacao.data | date:'dd/MM/yyyy'}}</span>
            </div>
        </div>

        <div class="box-body">
            <p>{{avaliacao.comentario}}</p>
        </div>
    </div>

</div>
