 <!-- DIV DOS DETALHAMENTOS -->
 <div class="col-md-6 col-xs-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Sobre o espaço</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <p align="justify">
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
            </p>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Serviços Adicionais</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="col-md-12">

                <div class="col-md-6">
                    <img src="assets/img/servicos/natacao.png"> Natação
                </div>
                <div class="col-md-6">
                    <img src="assets/img/servicos/capoeira.png"> Capoeira
                </div>
                <div class="col-md-6">
                    <img src="assets/img/servicos/futebol.png"> Futebol
                </div>
                <div class="col-md-6">
                    <img src="assets/img/servicos/music.png"> Educação Musical
                </div>
            </div>
        </div>


        <!-- /.box-body -->
    </div>

</div>

    <!-- MAPS -->
    <localizacao-daycare></localizacao-daycare>