 <!-- DIV DOS DETALHAMENTOS -->
 <div class="col-md-6 col-xs-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Sobre o espaço</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <p align="justify">
                
            </p>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Serviços Adicionais</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <!-- Aqui é realizada a chamada do selector que contém as informações do serviço -->
            <div class="col-md-12">
                <!-- async = se inscreve no servico, que é um observable, pegando os itens, passando para o NgFor interando os dados -->
               <mt-servico-item *ngFor="let tipo of servico | async" [servicoItem]="tipo"></mt-servico-item>
            </div>
        </div>


        <!-- /.box-body -->
    </div>

</div>

    <!-- MAPS -->
    <localizacao-daycare></localizacao-daycare>