<div *ngIf="!this.crecheLocal">
  <div class="form-group">
    <input placeholder="Selecione sua localização " autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>
<div *ngIf="this.crecheLocal">
  <agm-map [latitude]="this.crecheLocal.lat" [longitude]="this.crecheLocal.lon" [scrollwheel]="true" [zoom]="zoom">
    <agm-marker [latitude]="this.crecheLocal.lat" [longitude]="this.crecheLocal.lon"></agm-marker>
  </agm-map>
</div>