<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
        <h1></h1>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">


                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-institution"></i>
                        <h3 class="box-title">{{creche?.nome}}</h3><span class="pull-right"><i class="fa fa-star"></i> {{creche?.avaliacao}}</span>
                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-3" *ngIf="creche">
                            <img class="box-img-detail" [src]="creche?.dirImagem" />    
                        </div><br>


                        <dl class="col-md-9">

                            <div class="col-md-4">
                                <dt class=""><i class="fa fa-child"></i> Faixa Etária</dt>
                                <dd>{{creche?.faixaEtaria}}</dd><br>

                                <dt><i class="fa fa-calendar"></i> Horários</dt>
                                <dd>{{creche?.horario}}</dd>
                                <br>
                            </div>

                            <div class="col-md-5">
                                <dt><i class="fa fa-phone"></i> Fale Conosco</dt>
                                <dd>{{creche?.telefone}}</dd><br>

                                <dt><i class="fa fa-map-pin"></i> Endereço</dt>
                                <dd>{{creche?.endereco}}</dd>
                            </div>

                        </dl>

                    </div>


                    <!-- /.box-body -->
                    <div class="box-footer detail-footer">
                        <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['servico']">
                            Informações Adicionais
                        </a>
                        <a class="pull-right" routerLinkActive="detail-active" [routerLink]="['avaliacoes']">
                            Avaliações
                        </a>
                    </div>


                </div>

                <!--div class="box box-default">

                        <div class="box-header with-border">

                            <h2 class="box-title">Sobre o espaço</h2>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                    
                        </div>
                
                        <div class="box-body">
                            <p align="justify" style="font-size: 16px">
                                    {{creche?.sobre}}
                            </p>
                        </div>
                      
                    </div-->


            </div>
            <!-- /.col-xs-12 -->

        </div>


        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </section>
<!-- FIM DO CONTEÚDO -->
