<!--INICIO DO CONTEUDO-->
<section class="content-header">
  </section>

  <section class="content">
      <section class="invoice">

          <form>
              <div class="row">
                  <div class="col-xs-12">
                      <h2 class="page-header">
                          <i class="fa fa-user"></i> Dados do usuário
                      </h2>
                  </div>
              </div>                

              <div class="row invoice-info">
                  <div class="col-md-6">
                      <div class="form-group">
                            <label for="cep">CPF</label>
                          <input type="text" class="form-control" id="cpf" placeholder="CPF">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                            <label for="cep">Nome</label>
                          <input type="text" class="form-control" id="nome" placeholder="Nome completo">
                      </div>
                  </div>
              </div>
              <hr>

              <div class="row">
                  <div class="col-md-12">
                      <p class="lead">Endereço:</p>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                          <label for="cep">CEP</label>
                          <input type="text" class="form-control" id="cep" placeholder="">
                      </div>
                  </div>

                  <div class="col-md-2">
                      <div class="form-group">
                          <label for="endereco">Endereço</label>
                          <input type="text" class="form-control" id="endereco" placeholder="">
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="complemento">Complemento</label>
                          <input type="text" class="form-control" id="endereco" placeholder="">
                      </div>
                  </div>

                  <div class="col-md-2">
                      <div class="form-group">
                          <label>Cidade</label>
                          <select class="form-control">
                              <option>Taguatinga</option>
                              <option>Cidade 2</option>
                              <option>Cidade 3</option>
                          </select>
                      </div>
                  </div>

                  <div class="col-md-2">
                      <div class="form-group">
                          <label>Estado</label>
                          <select class="form-control">
                              <option>DF</option>
                              <option>Estado 2</option>
                              <option>Estado 3</option>
                          </select>
                      </div>
                  </div>


              </div>
              <hr>

              <div class="row">
                  <div class="col-md-12">
                      <p class="lead">Contato:</p>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="celular">Celular</label>
                          <input type="text" class="form-control" id="celular" placeholder="(##) #####-####">
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="comercial">Comercial</label>
                          <input type="text" class="form-control" id="comercial" placeholder="(##) ####-####">
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleInputEmail1">E-mail</label>
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                              <input type="email" class="form-control" placeholder="">
                          </div>
                      </div>
                  </div>

              </div>
              <!-- /.row -->

          </form>

          <div class="row">
              <div class="col-xs-12">
                  <a href="confirmar.html" class="btn btn-success pull-right"><i class="fa fa-send"></i> Cadastrar
                  </a>
              </div>
          </div>

      </section>
  </section>
  <!-- FIM DO CONTEUDO-->