<!-- INíCIO do CONTEÚDO -->

<section class="content-header">
  <h1>
      Todos as creches
      <a (click)="barraDeBusca()" class="search-link pull-right">
         <span *ngIf="iptSearch.value"><small>"{{iptSearch.value}}"</small></span> <i class="fa fa-search"></i></a>
  </h1>

  <!-- Barra de busca -->
  <div class="row">
    <div class="col-xs-12 barra-busca" [@busca]="estadoBusca">
     <form [formGroup]="searchForm">
         <div class="form-group">
             <input type="text" #iptSearch formControlName="searchControl"
                    class="form-control" placeholder="O que você está procurando">
             </div>
     </form>
    </div>
    </div>

</section>


<section class="content">
            


  <div class="row">


      <div *ngFor="let creche of creches" class="col-sm-6 col-xs-12">
          <!-- Componente daycare-creche dentro da pasta creches/creche, passando um loop para iterar os objetos -->
          <!-- creches é uma propriedade do nosso componente que tem os dados no array -->
          <main-creche [creche]="creche"></main-creche>
      </div>

  </div>



</section>
<!-- FIM  do CONTEÚDO -->