<div class="col-md-6 col-xs-12">
        <!--INICIO DAS INFORMAÇÕES-->
        <div class="box box-solid">
            <div class="box-header">
                <span class="fa fa-location-arrow"></span> Ver Localização
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <iframe frameborder="0" id="googleMap" style="width:100%; height:250px;" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=-15.7942,-47.8822&key=AIzaSyB25O-GoozqDll1vzOPTh71JpqeX_VJfCo"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>